html{
  background-color: rgb(238, 238, 238);
  width: 100%;
  height: 100%;
  position: absolute;
}
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
} 
.page *{
  padding: 0; margin: 0;
}
.header{
  height: 60px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  margin-bottom: 15pt;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.03);
}
.headerCenter{
  width: 768px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}
.headerCenterLeft {
  position: absolute;
  top: 50%; left: 0%; 
  transform: translate(0%, -50%);
  font-size: 24px;
}
.headerCenterLeft * {
  margin: 0; padding: 0;
}
.headerCenterRight {
  position: absolute;
  top: 50%; left: 100%; 
  transform: translate(-100%, -50%);
  font-size: 18px;
}
.headerCenterRight * {
  margin: 0; padding: 0;
}
.titleLogo{
  font-weight: bold;
}
.titleDate{
  font-size: 14px;
  margin-top: -5px;
}

.main{
  position: absolute;
  width: 768px;
  left: 50%;
  transform: translateX(-50%);
  min-height:100%;
}
.filters * {
  display: inline-block;
  margin-right: 10px;
}
.main > p, .filters > p {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 12px;
}
.mainCard{
  margin-bottom: 10pt;
  height:100%;
  width: 728px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  display: inline-block;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.03);
}
.mainCard p{
  float:left;
}
.mainCard button{
  float:right;
}
.links *{
  color: black;
  text-decoration: none;
  margin: 15px;
  display: block;
}
.links a:hover{
  color: rgb(68, 68, 68);
}


.subCard{
  margin-bottom: 15px;
  margin-top: 15px;
  text-decoration: none;
  list-style: none;
  width: 700px;
  border: 1px solid lightgray;
  border-radius: 5px;

  padding: 10px;
  background-color: rgb(248, 248, 248);
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.subCard table{
  width: 100%; 
}
.subCard table * {
}
td:nth-child(1) {
  width: 0px;
  padding-top: 3px;
  padding-right: 13px;
  padding-left: 4px;
}
td:nth-child(2) {
  word-break: break-all;
  width: 100%;
  
  padding-right: 20px;
  text-align: justify;
}
td:nth-child(3) {
  width: 30%;
}


input[type=checkbox]{
  height: 18px;
  width: 18px;
}

input[type=text]{
  border: 1px solid rgb(177, 177, 177);
  background-color: white;
  width: 600px;
  font-size: 17px;
  padding: 4px;
}
input[type=text]:not(:placeholder-shown) {

}
input[type=text]:placeholder-shown {
  background-color: rgb(255, 230, 230);
}

button{
  border: 1px solid rgb(177, 177, 177);
  min-height: 30px;
  min-width: 100px;
  border-radius: 2px;
}
button:hover{
  background-color: rgb(250, 250, 250);
}
button:active {
  background-color: rgb(204, 204, 204);
}

.inactiveLink {
  white-space: nowrap;
  display: block;
  text-decoration: none;
  color: black;
}
.activeLink {
  white-space: nowrap;
  display: none;
}
.header a{
  /* padding: 8px;
  box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.3);
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px; */
}



.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1050;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in; 
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
}
.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
.modal-dialog {
    max-width: 500px;
    margin: 30px auto;
}
}
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
@media (min-width: 768px) {
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
  text-align: center;
}
.modal-body * {
  margin: 10px;
}